<h2>Hub&lt;T&gt;</h2>
<summary>
    Derive class Hub&lt;T&gt; where T is an interface containing methods on client-side to receive hub messages.
</summary>

<p>On server-side, implementing your Hub is easier as you get intellisense when sending messages to clients</p>
<img src="/Features/HubT/intellisense.jpg" />

<h4>Instructions</h4>
<ol>
    <li>Run ConsoleClient project to see a demo of a client connecting to a Hub&lt;T&gt;</li>
</ol>


