<h2>Send Message to an authenticated user</h2>
<summary>
    Push messages to users logged in concurrently on multiple browser windows and devices by using their username.
</summary>

<h4>Instructions</h4>
<ol>
    <li>Open multiple browsers (IE, Chrome, Firefox, etc), login with same user on some and a different user on the other windows.</li> 
    <li>Use the form below to send messages to one or many users</li>
</ol>

<div>
    <h4>To a single user</h4>
          <input type="text" id="message" placeholder="Message" size="100" />
    <br /><input type="text" id="userId" placeholder="User" size="100" />
    <br />
    <input type="button" id="sendToMe" class="btn" value="Send to me" />
    <input type="button" id="sendToUser" class="btn" value="Send to specified userId" />
</div>

<div>
    <h4>Received Messages</h4>
    <ul id="messages"></ul>
</div>

@section Scripts {
    @Scripts.Render("~/signalr/js")
    @Scripts.Render("~/Features/SendToUser/SendToUserHub.js")
}