<h2>Hub&lt;T&gt;</h2>
<summary>
    Derive class Hub&lt;T&gt; where T is an interface containing methods on client-side to receive hub messages.
</summary>

<br />

<p>Coding your Hub is easier as you get intellisense when sending messages to clients</p>
<img src="/Features/HubT/intellisense.jpg" />

<h4>Sample</h4>
<p>
    Run ConsoleClient to see a demo
</p>

