<h2>Authorization</h2>
<summary>
    Add security to your application, allow only authenticated users or specific user roles to access your SignalR endpoints.
</summary>

<h4>Instructions</h4>
<ol>
    <li>Verify you are not logged in on this website, otherwise click "Log off" on the menu.</li>
    <li>Open <a href="/Feature/AuthorizationFailedPersistentConnection">link</a> on another tab to see failure to access a PersistentConnection</li>
    <li>Open <a href="/Feature/AuthorizationFailedHub">link</a> on another tab to see failure to access a Hub</li>
    <li>Open <a href="/Feature/AuthorizationPersistentConnection">link</a> on another tab to see success to access a PersistentConnection</li>
    <li>Open <a href="/Feature/AuthorizationHub">link</a> on another tab to see success to access a Hub</li>
</ol>
