<h2>ConnectionManager</h2>
<summary>
    Send Messages using a PersistentConnection or Hub from anywhere on the same process.
</summary>

<h4>Instructions</h4>
<ol>
    <li>Click on start button.</li> 
    <li>You should see incoming messages from a PersistentConnection and a Hub</li>
    <li>Click on stop button.</li> 
</ol>

<div>
    <h4>Form</h4>
    <button id="startStop" class="btn"><i id="startStopIcon" class="glyphicon glyphicon-play" ></i> <span id="startStopText">Start</span></button>
</div>

<div>
    <h4>Messages</h4>
    <ul id="messages"></ul>
</div>

@section Scripts {
    @Scripts.Render("~/signalr/js")
    @Scripts.Render("~/Features/ConnectionManager/BackgroundThread.js")
}